services:
  namenode:
    image: apache/hadoop:3.3.5
    container_name: namenode
    hostname: namenode
    command: ["hdfs", "namenode"]
    env_file:
      - ./hadoop_config
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    ports:
      - "9870:9870"
      - "8020:8020"
    volumes:
      - namenode:/tmp/hadoop-root/dfs
    networks:
      - bigdata

  datanode:
    image: apache/hadoop:3.3.5
    container_name: datanode
    hostname: datanode
    command: ["hdfs", "datanode"]
    env_file:
      - ./hadoop_config
    volumes:
      - datanode:/tmp/hadoop-root/dfs
    depends_on:
      - namenode
    ports:
      - "9864:9864"
    networks:
      - bigdata

  hbase:
    image: harisekhon/hbase:2.1
    container_name: hbase
    hostname: hbase
    depends_on:
      - namenode
      - datanode
    ports:
      - "8080:8080"    # HBase web
      - "16010:16010"  # Master UI
      - "8085:8085"    # REST
    networks:
      - bigdata

networks:
  bigdata:
    driver: bridge

volumes:
  namenode:
  datanode:
