
services:
   namenode:
      image: apache/hadoop:3
      hostname: namenode
      command: ["hdfs", "namenode"]
      ports:
        - 9870:9870
      environment:
          ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"

   datanode:
      image: apache/hadoop:3
      command: ["hdfs", "datanode"]

   resourcemanager:
      image: apache/hadoop:3
      hostname: resourcemanager
      command: ["yarn", "resourcemanager"]
      ports:
         - 8088:8088
      volumes:
        - ./test.sh:/opt/test.sh
   nodemanager:
      image: apache/hadoop:3


